@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: #ffcc00; /* Kolor loga */
    text-align: center;
}

.selected-button {
    background-color: #5a647d !important; /* Modernistyczny szaro-niebieski kolor dla zaznaczonych przycisków */
    border-color: #5a647d !important;
    color: #fff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Dodanie cienia */
    border-radius: 8px; /* Zaokrąglenie rogów */
}

.mood-button .btn-outline-light {
  background-color: transparent;
  border-color: #5a647d;
  color: #5a647d;
  opacity: 1; /* Zwiększenie widoczności niezaznaczonych przycisków */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Dodanie płynnego przejścia */
  border-radius: 8px; /* Zaokrąglenie rogów */
  font-size: 14px; /* Zmniejszenie czcionki dla lepszego dopasowania tekstu */
  padding: 10px; /* Zwiększenie odstępów wewnętrznych */
  width: 140px; /* Zwiększenie szerokości przycisków */
  height: 140px; /* Zwiększenie wysokości przycisków */
}

.mood-button .btn-outline-light:hover {
  background-color: #5a647d;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Dodanie cienia podczas najechania myszką */
}

.mood-button.red {
  background-color: #ff0000 !important; /* Kolor czerwony */
  color: #fff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Dodanie cienia */
}

.platform-button .btn-outline-light {
    background-color: transparent;
    border-color: #5a647d;
    color: #5a647d;
    opacity: 1; /* Zwiększenie widoczności niezaznaczonych przycisków */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Dodanie płynnego przejścia */
    border-radius: 8px; /* Zaokrąglenie rogów */
    font-size: 14px; /* Zmniejszenie czcionki dla lepszego dopasowania tekstu */
    padding: 10px; /* Zwiększenie odstępów wewnętrznych */
    width: 140px; /* Zwiększenie szerokości przycisków */
    height: 140px; /* Zwiększenie wysokości przycisków */
}

.platform-button .btn-outline-light:hover {
    background-color: #5a647d;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Dodanie cienia podczas najechania myszką */
}

.App.blur {
  filter: blur(5px);
  pointer-events: none;
}

.loading-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.mood-button, .platform-button {
  flex: 1 1 calc(25% - 1em);
  margin: 0.5em;
}

@media (max-width: 768px) {
  .mood-button, .platform-button {
    flex: 1 1 calc(50% - 1em);
  }

  .m-2 {
    margin: 0.5em;
  }

  .custom-modal-title {
    font-size: 1.5rem;
  }

  .custom-modal-overview {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .mood-button, .platform-button {
    flex: 1 1 100%;
  }

  .m-2 {
    margin: 0.25em;
  }

  .custom-modal-title {
    font-size: 1.25rem;
  }

  .custom-modal-overview {
    font-size: 0.875rem;
  }
}